{% extends "profile_layout.html" %}
{% load static %}

{% block profhead %}
    <!--Action buttons-->
    <div class="pd-right">
        <form method="POST" action = "{% url 'create-thread' object.username %}">
            {% csrf_token %}
            <input type="text" name="username" value="{{ object.username }}" style="visibility: hidden;" >
	    <button type="submit"><img src="{% static 'app/images/message.png' %}"> Start Message </button>
  
	</form>
        <br>
    </div>
{% endblock %}

